# Syntaxe des listes en compréhension

Lorsque l'on désigne *explicitement* chaque élément d'un tableau comme dans `t = [4, 3, 2, 1]`, on parle de **notation en extension** du tableau.

Python connaît une autre notation pour *construire des listes* appelée **notation en compréhension**.

En voici quelques exemples; **expérimenter** pour vous familiariser avec cette *syntaxe*.

In [1]:
[None for _ in range(10)] # on peut faire plus court pour obtenir cela ...

[None, None, None, None, None, None, None, None, None, None]

In [2]:
## version plus courte du précédent
[None] * 10

[None, None, None, None, None, None, None, None, None, None]

In [3]:
[i for i in range(6)] # même résultat avec list(range(6))

[0, 1, 2, 3, 4, 5]

On peut **utiliser la variable de boucle** pour calculer

In [4]:
[x + 1 for x in [0, 1, 4, 9, 16, 25]]

[1, 2, 5, 10, 17, 26]

In [5]:
[x * x for x in range(6)]

[0, 1, 4, 9, 16, 25]

On peut combiner les deux exemples précédents en **imbriquant** ...

In [6]:
[x + 1 for x in [i ** 2 for i in range(6)]] # la liste interne est construite en premier!

[1, 2, 5, 10, 17, 26]

L'intérêt? Supposer que vous ayez besoins des précédents (et non suivants) des carrés de 1 à 100... (pas de 0 à 99...)

#### À faire toi-même

Réalise la liste indiquée précédemment en utilisant la **notation en compréhension**.

In [9]:
# solution 1
sol1 = [x - 1 for x in [i ** 2 for i in range(1,101)]]
sol1

[0,
 3,
 8,
 15,
 24,
 35,
 48,
 63,
 80,
 99,
 120,
 143,
 168,
 195,
 224,
 255,
 288,
 323,
 360,
 399,
 440,
 483,
 528,
 575,
 624,
 675,
 728,
 783,
 840,
 899,
 960,
 1023,
 1088,
 1155,
 1224,
 1295,
 1368,
 1443,
 1520,
 1599,
 1680,
 1763,
 1848,
 1935,
 2024,
 2115,
 2208,
 2303,
 2400,
 2499,
 2600,
 2703,
 2808,
 2915,
 3024,
 3135,
 3248,
 3363,
 3480,
 3599,
 3720,
 3843,
 3968,
 4095,
 4224,
 4355,
 4488,
 4623,
 4760,
 4899,
 5040,
 5183,
 5328,
 5475,
 5624,
 5775,
 5928,
 6083,
 6240,
 6399,
 6560,
 6723,
 6888,
 7055,
 7224,
 7395,
 7568,
 7743,
 7920,
 8099,
 8280,
 8463,
 8648,
 8835,
 9024,
 9215,
 9408,
 9603,
 9800,
 9999]

In [10]:
# solution 2
sol2 = [ x ** 2 - 1 for x in range(1, 101)]
assert sol1 == sol2 # doit passer sans erreur
print(sol2) # avec print(...) la liste est affichée différemment...

[0, 3, 8, 15, 24, 35, 48, 63, 80, 99, 120, 143, 168, 195, 224, 255, 288, 323, 360, 399, 440, 483, 528, 575, 624, 675, 728, 783, 840, 899, 960, 1023, 1088, 1155, 1224, 1295, 1368, 1443, 1520, 1599, 1680, 1763, 1848, 1935, 2024, 2115, 2208, 2303, 2400, 2499, 2600, 2703, 2808, 2915, 3024, 3135, 3248, 3363, 3480, 3599, 3720, 3843, 3968, 4095, 4224, 4355, 4488, 4623, 4760, 4899, 5040, 5183, 5328, 5475, 5624, 5775, 5928, 6083, 6240, 6399, 6560, 6723, 6888, 7055, 7224, 7395, 7568, 7743, 7920, 8099, 8280, 8463, 8648, 8835, 9024, 9215, 9408, 9603, 9800, 9999]

___

On peut utiliser une **fonction** avec la variable de boucle

In [11]:
ma_fonc = lambda x: (x, x**2) # x -> (x, x**2); attend un nombre et renvoie un tuple (ce nombre, son carré)
[ma_fonc(nb) for nb in range(5)] # la fonction est exécuté à chaque changement de nb

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16)]

on peut faire des **sélections** avec un `if`...

In [12]:
N = 10
t = [i for i in range(N) if i not in [3, 7]]
t

[0, 1, 2, 4, 5, 6, 8, 9]

Attention à l'ordre

In [ ]:
# produit une erreur!
[i if i not in [3, 7] for i in range(N)] # la sélection if doit toujours avoir lieu **après** la boucle associée

In [ ]:
a, b = 10, 20
[i for i in range(a, b) if i % 2 != 0] # i % 2 ne vaut zéro que lorsque i est pair!

#### À faire toi-même

Je voudrais une petite valse à trois temps de 100 mesures `[1,2,3,1,2,3,...]`

*aide*: utiliser l'opérateur modulo `%` et un peu de sélection ... au fait, le reste d'une division est toujours strictement inférieure au diviseur ...

In [15]:
# correction: note que le reste d'une division ne peut être que 0, 1, 2, ..., diviseur-1 (toujours strictement inférieur au diviseur)
solution = [(i % 3) + 1 for i in range(300)] 
print(solution[:10]) # on ne regarde que les 10 premières valeurs

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1]

In [16]:
# pour tester ta solution.
from random import randint
i = 3 * randint(0, 100)
assert len(solution) == 300
assert solution[i:i+3] == [1,2,3]

___

#### À faire toi-même

Construire la liste de tous les entiers entre 50 et 100 qui ne sont ni des multiples de 2 ni des multiples de 5

In [17]:
# correction
sol = [x for x in range(50, 101) if x % 2 != 0 and x % 5 != 0]
print(sol)

[51, 53, 57, 59, 61, 63, 67, 69, 71, 73, 77, 79, 81, 83, 87, 89, 91, 93, 97, 99]

___

On peut utiliser plusieurs `for`

In [18]:
[(i, j) for i in range(3) for j in range(6)]

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5)]

observe qu'à chaque tour de la première boucle, la seconde est complètement réalisée.

Et lorsqu'on change l'ordre des deux boucles:

In [19]:
[(i, j) for j in range(6) for i in range(3)]

[(0, 0),
 (1, 0),
 (2, 0),
 (0, 1),
 (1, 1),
 (2, 1),
 (0, 2),
 (1, 2),
 (2, 2),
 (0, 3),
 (1, 3),
 (2, 3),
 (0, 4),
 (1, 4),
 (2, 4),
 (0, 5),
 (1, 5),
 (2, 5)]

#### À faire toi-même

Construire la liste de tous les mots possibles de trois lettres qu'on peut former à partir de 'a', 'b' et 'c'. Combien y en a-t-il?

*aide*: 
- dans la boucle `for l in "abc": ...` -> la variable `l` prend successivement les valeurs `'a'`, `'b'`, `'c'`. 
- Penser à la **concaténation** des `str` avec `+`... Utiliser plusieurs boucles... (combien?).

In [20]:
# test de l'aide
for l in "abc":
    print(l)

a
b
c

**Rappel**: lorsqu'on ajoute des chaînes de caractères, le résultat est une chaîne de caractère obtenue en mettant bout à bout chaque chaîne (**concaténation**)
ex: `"123"+"4"+"cinq"` donne `"1234cinq"`

In [24]:
# solution partielle pour deux lettres "ab"
sol = [l1+l2 for l1 in "ab" for l2 in "ab"]
print(sol)

['aa', 'ab', 'ba', 'bb']

In [23]:
# solution
sol = [l1+l2+l3 for l1 in "abc" for l2 in "abc" for l3 in "abc"]
print(sol)

['aaa', 'aab', 'aac', 'aba', 'abb', 'abc', 'aca', 'acb', 'acc', 'baa', 'bab', 'bac', 'bba', 'bbb', 'bbc', 'bca', 'bcb', 'bcc', 'caa', 'cab', 'cac', 'cba', 'cbb', 'cbc', 'cca', 'ccb', 'ccc']

Inutile de compter à la main ou avec `len`: il y en a $3\times 3\times 3 = 9\times 3={\bf 27}$.

_____

#### À faire toi-même

Pareil que le précédent mais les mots ne doivent pas contenir deux fois la même lettre (*aide*: utiliser un if...)

In [25]:
# solution pour 2 lettres
sol = [l1 + l2 for l1 in "ab" for l2 in "ab" if l1 != l2]
print(sol)

['ab', 'ba']

In [35]:
# solution complète
[l1 + l2 + l3
 for l1 in "abc"
 for l2 in "abc"
 for l3 in "abc" 
 if l1 != l2 and # première lettre différente de la seconde,
    l2 != l3 and # la seconde de la troisième
    l3 != l1     # et la troisième de la première!
]

['abc', 'acb', 'bac', 'bca', 'cab', 'cba']

____

# Complément: difficile!

On peut imbriquer les listes en compréhension à un bout ...

In [ ]:
[x + 1 for x in [x**2 for x in range(6)]] # déjà vu!

ou ... à l'autre! C'est-à-dire l'**expression** peut aussi être une liste en compréhension!

In [29]:
[[i for i in range(j, j+4)] for j in [1, 5, 9]]

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

ou au deux ...

In [30]:
N = 10
matrice = [
    [ i for i in range(j, j+N) ] # expression à évaluer à chaque ...
    for j in [ 1 + i*N for i in range(N) ] # ... changement de la valeur de j
]
matrice

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
 [21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
 [31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
 [41, 42, 43, 44, 45, 46, 47, 48, 49, 50],
 [51, 52, 53, 54, 55, 56, 57, 58, 59, 60],
 [61, 62, 63, 64, 65, 66, 67, 68, 69, 70],
 [71, 72, 73, 74, 75, 76, 77, 78, 79, 80],
 [81, 82, 83, 84, 85, 86, 87, 88, 89, 90],
 [91, 92, 93, 94, 95, 96, 97, 98, 99, 100]]

In [32]:
bg, bd = 3, 18 # borne gauche, borne droite
largeur = bd - bg # ici 15
nb_subdivisions = 5 # nb de «pas» pour aller de la borne gauche à la borne droite
pas = largeur / nb_subdivisions
sub_intervalle = [bg + i * pas for i in range(nb_subdivisions + 1)]
sub_intervalle

[3.0, 6.0, 9.0, 12.0, 15.0, 18.0]

In [34]:
depart = 2
taille_pas = 5
nb_pas = 12
pas = [depart + i * taille_pas for i in range(nb_pas)]
pas

[2, 7, 12, 17, 22, 27, 32, 37, 42, 47, 52, 57]