# Traitement des données en tables

**Plan du document**
- **Pré-traitement** des données
- **Projection**: sélection de «colonnes» - descripteurs
- **Sélection**: sélection de «lignes» - objets
    - fonction qui prend en argument ... une autre fonction!
- **Trier** les données

Dans cette section, nous supposons disposer d'une table de n-uplet nommés (à l'aide de dictionnaires) et donc de la forme:

`[{descr1: val1, descr2: val2,...},{descr1: val'1, ...}, ...]`

qui représente le tableau (qui peut avoir plus de trois colonnes!)

| descr1   | descr2           | ...  |
| :-------------:|:-------------:|:-----:|
| val1      | val2 | ... |
| val'1      | ...      |   ... |
| ... | ...   |    ... |

**Objectif**: apprendre à réaliser certaines opérations courantes sur ce genre de données:
- pré-traitements
- sélectionner des «objets» (lignes) - **selection**,
- sélectionner des descripteurs (colonnes) - **projection**,
- **trier** les objets (lignes) sur la base d'un ou de plusieurs descripteurs.

Voici la table que nous utiliserons pour tester ces opérations

In [1]:
table_test = [
    {'n_client': '1212', 'nom': 'Lacasse', 'prenom': 'Aubrey', 'ville': 'Annecy', 'position': '45.900000,6.116667'},
    {'n_client': '1343', 'nom': 'Primeau', 'prenom': 'Angelette', 'ville': 'Tours', 'position': '47.383333,0.683333'},
    {'n_client': '2454', 'nom': 'Gabriaux', 'prenom': 'Julie', 'ville': 'Bordeaux', 'position': '44.833333,-0.566667'},
    {'n_client': '895', 'nom': 'Gaulin', 'prenom': 'Dorene', 'ville': 'Lyon', 'position': '45.750000,4.850000'},
    {'n_client': '2324', 'nom': 'Jobin', 'prenom': 'Aubrey', 'ville': 'Bourges', 'position': '47.083333,2.400000'},
    {'n_client': '34', 'nom': 'Boncoeur', 'prenom': 'Kari', 'ville': 'Nantes', 'position': '47.216667,-1.550000'},
    {'n_client': '1221', 'nom': 'Parizeau', 'prenom': 'Olympia', 'ville': 'Metz', 'position': '49.133333,6.166667'},
    {'n_client': '1114', 'nom': 'Paiement', 'prenom': 'Inès', 'ville': 'Bordeaux', 'position': '44.833333,-0.566667'},
    {'n_client': '3435', 'nom': 'Chrétien', 'prenom': 'Adèle', 'ville': 'Moulin', 'position': '46.566667,3.333333'},
    {'n_client': '5565', 'nom': 'Neufville', 'prenom': 'Ila', 'ville': 'Toulouse', 'position': '43.600000,1.433333'},
    {'n_client': '2221', 'nom': 'Larivière', 'prenom': 'Alice', 'ville': 'Tours', 'position': '47.383333,0.683333'},
]

Quels sont les descripteurs de cette table? **réponse**: *n_client, nom, prenom, ville, position*

In [2]:
# combien comporte-t-elle d'«objets»? **réponse**: 11
len(table_test)

11

Quel est le type commun de toutes les valeurs? **réponse**: `str`

## Pré-traitement ou préparation des données

On observe que certains **descripteurs** pourrait avoir un **type** plus précis que `str`, par exemple le descripteur `n_client` gagnerait a être de type `int`.

Améliorons cela à l'aide de la syntaxe en compréhension:

In [3]:
table_test_2 = [ 
    { 
    k: int(v) if k == 'n_client' else v
    for k, v in o.items()
    }
    for o in table_test
]
# observe bien la valeur du descripteur 'n_client'
table_test_2[:2]

[{'n_client': 1212,
  'nom': 'Lacasse',
  'prenom': 'Aubrey',
  'ville': 'Annecy',
  'position': '45.900000,6.116667'},
 {'n_client': 1343,
  'nom': 'Primeau',
  'prenom': 'Angelette',
  'ville': 'Tours',
  'position': '47.383333,0.683333'}]

C'est encore un peu difficile à lire probablement? l'opérateur ternaire `e1 if cond else e2` n'est pas encore parfaitement clair? ni l'écriture en compréhension?

Alors voici l'équivalent dans une fonction avec une boucle imbriquée.

In [4]:
def conversion1(table):
    tc = []
    for o in table:
        obj = {}
        for k, v in o.items():
            if k == 'n_client':
                obj[k] = int(v)
            else:
                obj[k] = v
        tc.append(obj)
    return tc

conversion1(table_test)

[{'n_client': 1212,
  'nom': 'Lacasse',
  'prenom': 'Aubrey',
  'ville': 'Annecy',
  'position': '45.900000,6.116667'},
 {'n_client': 1343,
  'nom': 'Primeau',
  'prenom': 'Angelette',
  'ville': 'Tours',
  'position': '47.383333,0.683333'},
 {'n_client': 2454,
  'nom': 'Gabriaux',
  'prenom': 'Julie',
  'ville': 'Bordeaux',
  'position': '44.833333,-0.566667'},
 {'n_client': 895,
  'nom': 'Gaulin',
  'prenom': 'Dorene',
  'ville': 'Lyon',
  'position': '45.750000,4.850000'},
 {'n_client': 2324,
  'nom': 'Jobin',
  'prenom': 'Aubrey',
  'ville': 'Bourges',
  'position': '47.083333,2.400000'},
 {'n_client': 34,
  'nom': 'Boncoeur',
  'prenom': 'Kari',
  'ville': 'Nantes',
  'position': '47.216667,-1.550000'},
 {'n_client': 1221,
  'nom': 'Parizeau',
  'prenom': 'Olympia',
  'ville': 'Metz',
  'position': '49.133333,6.166667'},
 {'n_client': 1114,
  'nom': 'Paiement',
  'prenom': 'Inès',
  'ville': 'Bordeaux',
  'position': '44.833333,-0.566667'},
 {'n_client': 3435,
  'nom': 'Chrétien',
  'prenom': 'Adèle',
  'ville': 'Moulin',
  'position': '46.566667,3.333333'},
 {'n_client': 5565,
  'nom': 'Neufville',
  'prenom': 'Ila',
  'ville': 'Toulouse',
  'position': '43.600000,1.433333'},
 {'n_client': 2221,
  'nom': 'Larivière',
  'prenom': 'Alice',
  'ville': 'Tours',
  'position': '47.383333,0.683333'}]

Mais il y a un autre descripteur qui pose problème: `position`

son type est `str` au format `'<float>,<float>'`

nous voudrions que son type soit «`tuple` de `float`» c'est-à-dire passer de (par ex.) `'45.900000,6.116667'` à `(45.900000, 6.116667)`.

### À toi de jouer

En t'inspirant de la conversion résolue précédente, transforme le descripteur `position` en un tuple de 2 floats.

In [5]:
# avec une fonction
def conversion2(table):
    tc = []
    for o in table:
        obj = {}
        for k, v in o.items():
            if k == 'position':
                x, y = v.split(',')
                x, y = float(x), float(y)
                obj[k] = (x, y)
            else:
                obj[k] = v
        tc.append(obj)
    return tc

res = conversion2(table_test)
res[:2]

[{'n_client': '1212',
  'nom': 'Lacasse',
  'prenom': 'Aubrey',
  'ville': 'Annecy',
  'position': (45.9, 6.116667)},
 {'n_client': '1343',
  'nom': 'Primeau',
  'prenom': 'Angelette',
  'ville': 'Tours',
  'position': (47.383333, 0.683333)}]

In [6]:
# avec la syntaxe en compréhension (tu peux utiliser plusieurs étapes)
# ici en une étape (voir aussi l'autre solution plus «facile»)
table_test_3 = [ 
    { 
    k: tuple(float(x) for x in v.split(','))
        if k == 'position' else v
    for k, v in o.items()
    }
    for o in table_test
]
table_test_3[:2]

[{'n_client': '1212',
  'nom': 'Lacasse',
  'prenom': 'Aubrey',
  'ville': 'Annecy',
  'position': (45.9, 6.116667)},
 {'n_client': '1343',
  'nom': 'Primeau',
  'prenom': 'Angelette',
  'ville': 'Tours',
  'position': (47.383333, 0.683333)}]

In [7]:
# autre solution

# 1 définir une fonction qui transforme (par ex.) "2.3,12.5" en (2.3, 12.5)
def utile(couple_str):
    x, y = couple_str.split(',')
    x, y = float(x), float(y)
    return (x, y)

# 2 L'utiliser pour simplifier la syntaxe en compréhension
table_test4 = [ 
    { 
    k: utile(v) if k == 'position' else v
    for k, v in o.items()
    }
    for o in table_test
]
table_test4[:2]

[{'n_client': '1212',
  'nom': 'Lacasse',
  'prenom': 'Aubrey',
  'ville': 'Annecy',
  'position': (45.9, 6.116667)},
 {'n_client': '1343',
  'nom': 'Primeau',
  'prenom': 'Angelette',
  'ville': 'Tours',
  'position': (47.383333, 0.683333)}]

_________

## Projection ou sélection de colonnes

In [8]:
table_test = [
    {'n_client': 1212, 'nom': 'Lacasse', 'prenom': 'Aubrey', 'ville': 'Annecy', 'position': (45.900000,6.116667)},
    {'n_client': 1343, 'nom': 'Primeau', 'prenom': 'Angelette', 'ville': 'Tours', 'position': (47.383333,0.683333)},
    {'n_client': 2454, 'nom': 'Gabriaux', 'prenom': 'Julie', 'ville': 'Bordeaux', 'position': (44.833333,-0.566667)},
    {'n_client': 895, 'nom': 'Gaulin', 'prenom': 'Dorene', 'ville': 'Lyon', 'position': (45.750000,4.850000)},
    {'n_client': 2324, 'nom': 'Jobin', 'prenom': 'Aubrey', 'ville': 'Bourges', 'position': (47.083333,2.400000)},
    {'n_client': 34, 'nom': 'Boncoeur', 'prenom': 'Kari', 'ville': 'Nantes', 'position': (47.216667,-1.550000)},
    {'n_client': 1221, 'nom': 'Parizeau', 'prenom': 'Olympia', 'ville': 'Metz', 'position': (49.133333,6.166667)},
    {'n_client': 1114, 'nom': 'Paiement', 'prenom': 'Inès', 'ville': 'Bordeaux', 'position': (44.833333,-0.566667)},
    {'n_client': 3435, 'nom': 'Chrétien', 'prenom': 'Adèle', 'ville': 'Moulin', 'position': (46.566667,3.333333)},
    {'n_client': 5565, 'nom': 'Neufville', 'prenom': 'Ila', 'ville': 'Toulouse', 'position': (43.600000,1.433333)},
    {'n_client': 2221, 'nom': 'Larivière', 'prenom': 'Alice', 'ville': 'Tours', 'position': (47.383333,0.683333)},
]

Cette opération consiste à «oublier» un ou plusieurs descripteurs d'un objet. Par exemple, pour se concentrer sur ceux qui nous intéresse dans notre projet.

Le problème est le suivant: étant donnée une liste de descripteurs à oublier, produire la table de donnée correspondante.

ex: si `a_oublier = ['n_client', 'prenom', 'position']` alors l'objet:
- `{'n_client': 1212, 'nom': 'Lacasse', 'prenom': 'Aubrey', 'ville': 'Annecy', 'position': (45.900000,6.116667)}` ...
- ... devient `{'nom': 'Lacasse', 'ville': 'Annecy'}` ...
- et ainsi de suite pour chaque objet.

In [9]:
def projection_par_oubli(tableau, a_oublier):
    tsel = []
    for o in tableau:
        obj = {}
        for k, v in o.items():
            if not k in a_oublier:
                obj[k] = v
        tsel.append(obj)
    return tsel

projection_par_oubli(table_test, ['n_client', 'prenom', 'position'])

[{'nom': 'Lacasse', 'ville': 'Annecy'},
 {'nom': 'Primeau', 'ville': 'Tours'},
 {'nom': 'Gabriaux', 'ville': 'Bordeaux'},
 {'nom': 'Gaulin', 'ville': 'Lyon'},
 {'nom': 'Jobin', 'ville': 'Bourges'},
 {'nom': 'Boncoeur', 'ville': 'Nantes'},
 {'nom': 'Parizeau', 'ville': 'Metz'},
 {'nom': 'Paiement', 'ville': 'Bordeaux'},
 {'nom': 'Chrétien', 'ville': 'Moulin'},
 {'nom': 'Neufville', 'ville': 'Toulouse'},
 {'nom': 'Larivière', 'ville': 'Tours'}]

### À ton tour

1. Peux-tu réaliser la même chose avec la notation en compréhension en une ou plusieurs étapes?

In [10]:
def projection_par_oubli2(tableau, a_oublier):
    return [
        {
            k: v
            for k, v in o.items() if k not in a_oublier
        }
        for o in tableau
    ]

res = projection_par_oubli2(table_test, ['n_client', 'prenom', 'position'])
res[:2]

[{'nom': 'Lacasse', 'ville': 'Annecy'}, {'nom': 'Primeau', 'ville': 'Tours'}]

2. Écris une fonction `projection(tableau, a_conserver)` qui prend en argument le tableau de données et la liste des descripteurs à conserver; elle renvoie le tableau «projeté».

In [11]:
# 1 - avec la syntaxe en compréhension
def projection(tableau, a_conserver):
    return [
        {
            k: v
            for k, v in o.items() if k in a_conserver
        }
        for o in tableau
    ]

res = projection(table_test, ['n_client', 'prenom', 'position'])
res[:2]

[{'n_client': 1212, 'prenom': 'Aubrey', 'position': (45.9, 6.116667)},
 {'n_client': 1343, 'prenom': 'Angelette', 'position': (47.383333, 0.683333)}]

In [12]:
# 2 - de façon classique (boucles imbriquées)
def projection2(tableau, a_conserver):
    proj = []
    for o in tableau:
        new_o = {}
        for k, v in o.items():
            if k in a_conserver:
                new_o[k] = v
        proj.append(new_o)
    return proj

res = projection2(table_test, ['n_client', 'prenom', 'position'])
res[:2]

[{'n_client': 1212, 'prenom': 'Aubrey', 'position': (45.9, 6.116667)},
 {'n_client': 1343, 'prenom': 'Angelette', 'position': (47.383333, 0.683333)}]

In [13]:
# 3 - en combinant les deux!
def projection3(tableau, a_conserver):
    proj = []
    for o in tableau:
        proj.append(
            {k: v for k, v in o.items() if k in a_conserver}
        )
    return proj

res = projection3(table_test, ['n_client', 'prenom', 'position'])
res[:2]

[{'n_client': 1212, 'prenom': 'Aubrey', 'position': (45.9, 6.116667)},
 {'n_client': 1343, 'prenom': 'Angelette', 'position': (47.383333, 0.683333)}]

_____

## Sélection d'objets

On souhaite à présent transformer le tableau en ne conservant que les objets qui respectent un certain critère.

Par exemple, on pourrait vouloir sélectionner les clients qui habitent à tours.

In [14]:
def selection_exemple(tableau):
    tsel = []
    for o in tableau:
        if o['ville'] == 'Tours':
            tsel.append(o)
    return tsel

selection_exemple(table_test)

[{'n_client': 1343,
  'nom': 'Primeau',
  'prenom': 'Angelette',
  'ville': 'Tours',
  'position': (47.383333, 0.683333)},
 {'n_client': 2221,
  'nom': 'Larivière',
  'prenom': 'Alice',
  'ville': 'Tours',
  'position': (47.383333, 0.683333)}]

### À ton tour!

1. écris une fonction `selection2` qui renvoie le tableau en ne conservant que les objets dont le numéro de client est dans l'intervalle `[1000;3000]`.

In [15]:
def selection2(tableau):
    tsel = []
    for o in tableau:
        if 1000 <= o['n_client'] <= 3000:
            tsel.append(o)
    return tsel

res = selection2(table_test)
res[-2:] # les deux derniers

[{'n_client': 1114,
  'nom': 'Paiement',
  'prenom': 'Inès',
  'ville': 'Bordeaux',
  'position': (44.833333, -0.566667)},
 {'n_client': 2221,
  'nom': 'Larivière',
  'prenom': 'Alice',
  'ville': 'Tours',
  'position': (47.383333, 0.683333)}]

2. écris une fonction `selection3` qui sélectionne les objets dont la longitude est positive - 'pos=(lat., long.)' et dont le prénom débute par un 'A'.

In [16]:
def selection3(tableau):
    tsel = []
    for o in tableau:
        # récupérer les éléments d'informations pertinents...
        _, lat = o['position']
        l = o['prenom'][0]
        # ... afin d'écrire simplement la condition
        if lat >= 0 and l == 'A':
            tsel.append(o)
    return tsel

res = selection3(table_test)
res

[{'n_client': 1212,
  'nom': 'Lacasse',
  'prenom': 'Aubrey',
  'ville': 'Annecy',
  'position': (45.9, 6.116667)},
 {'n_client': 1343,
  'nom': 'Primeau',
  'prenom': 'Angelette',
  'ville': 'Tours',
  'position': (47.383333, 0.683333)},
 {'n_client': 2324,
  'nom': 'Jobin',
  'prenom': 'Aubrey',
  'ville': 'Bourges',
  'position': (47.083333, 2.4)},
 {'n_client': 3435,
  'nom': 'Chrétien',
  'prenom': 'Adèle',
  'ville': 'Moulin',
  'position': (46.566667, 3.333333)},
 {'n_client': 2221,
  'nom': 'Larivière',
  'prenom': 'Alice',
  'ville': 'Tours',
  'position': (47.383333, 0.683333)}]

____

### Une fonction qui prend en argument une autre fonction!

Il est simple d'adapter le code précédent pour sélectionner selon un autre critère, mais on peut faire bien mieux en suivant ces étapes:
1. Définir une fonction qui étant donné un objet renvoie `True` si l'objet respecte le critère, `False` autrement - une telle fonction est appelée **filtre**.
2. Passer en argument la fonction filtre à la fonction de selection.

Commençons par l'**étape 2** :-o

In [17]:
def selection(tableau, filtre_fn):
    tsel = []
    for o in tableau:
        if filtre_fn(o): # rappel filtre est une fonction qui renvoie `True` ou `False`
            tsel.append(o)
    return tsel

Pour l'**étape 1**, une «micro fonction» suffit bien souvent:

In [18]:
a_tours = lambda objet: objet['ville'] == 'Tours'

Finalement, on combine les deux:

In [19]:
selection(table_test, a_tours)

[{'n_client': 1343,
  'nom': 'Primeau',
  'prenom': 'Angelette',
  'ville': 'Tours',
  'position': (47.383333, 0.683333)},
 {'n_client': 2221,
  'nom': 'Larivière',
  'prenom': 'Alice',
  'ville': 'Tours',
  'position': (47.383333, 0.683333)}]

En fait, on peut se passer de l'étape 2 et c'est justement la raison d'être des «micro fonctions» appelée parfois *fonction anonyme*, il suffit d'écrire:

In [20]:
# sur plusieurs lignes pour plus de clarté; remettre sur une ligne. 
selection(
    table_test,
    lambda o: o['ville'] == 'Tours'
)

[{'n_client': 1343,
  'nom': 'Primeau',
  'prenom': 'Angelette',
  'ville': 'Tours',
  'position': (47.383333, 0.683333)},
 {'n_client': 2221,
  'nom': 'Larivière',
  'prenom': 'Alice',
  'ville': 'Tours',
  'position': (47.383333, 0.683333)}]

Si le filtre est plus compliqué, rien n'empêche d'utiliser une fonction «normale»

In [21]:
def filtre_tordu(objet):
    condition1 = objet['ville'] == 'Tours'
    condition2 = objet['nom'][0] in ['P', 'B']
    return condition1 or condition2

# en fait, on pourrait encore utiliser une «micro-fonction» dans ce cas.
selection(table_test, filtre_tordu)

[{'n_client': 1343,
  'nom': 'Primeau',
  'prenom': 'Angelette',
  'ville': 'Tours',
  'position': (47.383333, 0.683333)},
 {'n_client': 34,
  'nom': 'Boncoeur',
  'prenom': 'Kari',
  'ville': 'Nantes',
  'position': (47.216667, -1.55)},
 {'n_client': 1221,
  'nom': 'Parizeau',
  'prenom': 'Olympia',
  'ville': 'Metz',
  'position': (49.133333, 6.166667)},
 {'n_client': 1114,
  'nom': 'Paiement',
  'prenom': 'Inès',
  'ville': 'Bordeaux',
  'position': (44.833333, -0.566667)},
 {'n_client': 2221,
  'nom': 'Larivière',
  'prenom': 'Alice',
  'ville': 'Tours',
  'position': (47.383333, 0.683333)}]

#### À ton tour!

Écris les micros fonctions ou des fonctions ordinaire qui permettent de résoudre le dernier «À ton tour»

In [22]:
filtre1 = lambda o: o['ville'] == 'Tours'

selection(table_test, filtre1)

[{'n_client': 1343,
  'nom': 'Primeau',
  'prenom': 'Angelette',
  'ville': 'Tours',
  'position': (47.383333, 0.683333)},
 {'n_client': 2221,
  'nom': 'Larivière',
  'prenom': 'Alice',
  'ville': 'Tours',
  'position': (47.383333, 0.683333)}]

In [23]:
def filtre2(o):
    _, lat = o['position']
    l = o['prenom'][0]
    return lat > 0 and l == 'A'

selection(table_test, filtre2)

[{'n_client': 1212,
  'nom': 'Lacasse',
  'prenom': 'Aubrey',
  'ville': 'Annecy',
  'position': (45.9, 6.116667)},
 {'n_client': 1343,
  'nom': 'Primeau',
  'prenom': 'Angelette',
  'ville': 'Tours',
  'position': (47.383333, 0.683333)},
 {'n_client': 2324,
  'nom': 'Jobin',
  'prenom': 'Aubrey',
  'ville': 'Bourges',
  'position': (47.083333, 2.4)},
 {'n_client': 3435,
  'nom': 'Chrétien',
  'prenom': 'Adèle',
  'ville': 'Moulin',
  'position': (46.566667, 3.333333)},
 {'n_client': 2221,
  'nom': 'Larivière',
  'prenom': 'Alice',
  'ville': 'Tours',
  'position': (47.383333, 0.683333)}]

_____

Rencontrer pour la première fois «une fonction qui prend en argument une autre fonction» - parfois appelée **fonction d'ordre supérieur** - est souvent déroutant.

Pour «passer le cap», voici une activité complémentaire.

#### Activité: ma première fonction d'ordre supérieur

Écris une fonction `appliquer(liste, fn)` qui prend en argument:
- une liste d'éléments de type 'a': ce type est arbitraire, l'important c'est que tous les éléments de la liste aient le même type,
- une fonction `fn` qui prend en argument un élément de type 'a' et renvoie un élément de type 'b'.

Finalement, la fonction `appliquer` renvoie une liste d'éléments de type 'b' (tous)

**En résumé**: `appliquer` reçois `liste: "[a]"` et `fn: "a -> b"` et elle produit `"[b]"`...

Aide-toi des assertions qui suivent pour résoudre le problème.

In [24]:
def appliquer(liste, fn):
    res = []
    for v in liste:
        y = fn(v)
        res.append(y)
    return res

In [25]:
l = [1,2,3]
f = lambda x: x**2 # f: int -> int
assert appliquer(l, f) == [1,4,9]
l = ["un", "deux", "trois"]
f = lambda ch: len(ch) # f: str -> int
assert appliquer(l, f) == [2,4,5]
f = lambda ch: ch.upper() # f: str -> str
assert appliquer(l, f) == ["UN", "DEUX", "TROIS"]

_____

## Trier le tableau selon un ou plusieurs descripteurs

In [26]:
table_test = [
    {'n_client': 1212, 'nom': 'Lacasse', 'prenom': 'Aubrey', 'ville': 'Annecy', 'position': (45.900000,6.116667)},
    {'n_client': 1343, 'nom': 'Primeau', 'prenom': 'Angelette', 'ville': 'Tours', 'position': (47.383333,0.683333)},
    {'n_client': 2454, 'nom': 'Gabriaux', 'prenom': 'Julie', 'ville': 'Bordeaux', 'position': (44.833333,-0.566667)},
    {'n_client': 895, 'nom': 'Gaulin', 'prenom': 'Dorene', 'ville': 'Lyon', 'position': (45.750000,4.850000)},
    {'n_client': 2324, 'nom': 'Jobin', 'prenom': 'Aubrey', 'ville': 'Bourges', 'position': (47.083333,2.400000)},
    {'n_client': 34, 'nom': 'Boncoeur', 'prenom': 'Kari', 'ville': 'Nantes', 'position': (47.216667,-1.550000)},
    {'n_client': 1221, 'nom': 'Parizeau', 'prenom': 'Olympia', 'ville': 'Metz', 'position': (49.133333,6.166667)},
    {'n_client': 1114, 'nom': 'Paiement', 'prenom': 'Inès', 'ville': 'Bordeaux', 'position': (44.833333,-0.566667)},
    {'n_client': 3435, 'nom': 'Gabriaux', 'prenom': 'Adèle', 'ville': 'Moulin', 'position': (46.566667,3.333333)},
    {'n_client': 5565, 'nom': 'Neufville', 'prenom': 'Ila', 'ville': 'Toulouse', 'position': (43.600000,1.433333)},
    {'n_client': 2221, 'nom': 'Larivière', 'prenom': 'Alice', 'ville': 'Tours', 'position': (47.383333,0.683333)},
]

Supposer que nous souhaitions **ordonner** les objets selon leur descripteur `n_client`: du plus petit numéro au plus grand.

Pour faire cela, nous utiliserons la fonction prédéfinie de python `sorted(liste, key=choix_descripteur_fn)` qui renvoie la liste `liste` triée suivant la *fonction* `choix_descripteur_fn` (la liste initiale n'est pas modifiée).

Pour notre exemple, la fonction est `lambda o: o['n_client']`: elle prend un objet (une ligne) et renvoie la valeur de son descripteur `'n_client'`.

In [27]:
triee1 = sorted(table_test, key=lambda o: o['n_client']) # argument nommé key
triee1

[{'n_client': 34,
  'nom': 'Boncoeur',
  'prenom': 'Kari',
  'ville': 'Nantes',
  'position': (47.216667, -1.55)},
 {'n_client': 895,
  'nom': 'Gaulin',
  'prenom': 'Dorene',
  'ville': 'Lyon',
  'position': (45.75, 4.85)},
 {'n_client': 1114,
  'nom': 'Paiement',
  'prenom': 'Inès',
  'ville': 'Bordeaux',
  'position': (44.833333, -0.566667)},
 {'n_client': 1212,
  'nom': 'Lacasse',
  'prenom': 'Aubrey',
  'ville': 'Annecy',
  'position': (45.9, 6.116667)},
 {'n_client': 1221,
  'nom': 'Parizeau',
  'prenom': 'Olympia',
  'ville': 'Metz',
  'position': (49.133333, 6.166667)},
 {'n_client': 1343,
  'nom': 'Primeau',
  'prenom': 'Angelette',
  'ville': 'Tours',
  'position': (47.383333, 0.683333)},
 {'n_client': 2221,
  'nom': 'Larivière',
  'prenom': 'Alice',
  'ville': 'Tours',
  'position': (47.383333, 0.683333)},
 {'n_client': 2324,
  'nom': 'Jobin',
  'prenom': 'Aubrey',
  'ville': 'Bourges',
  'position': (47.083333, 2.4)},
 {'n_client': 2454,
  'nom': 'Gabriaux',
  'prenom': 'Julie',
  'ville': 'Bordeaux',
  'position': (44.833333, -0.566667)},
 {'n_client': 3435,
  'nom': 'Gabriaux',
  'prenom': 'Adèle',
  'ville': 'Moulin',
  'position': (46.566667, 3.333333)},
 {'n_client': 5565,
  'nom': 'Neufville',
  'prenom': 'Ila',
  'ville': 'Toulouse',
  'position': (43.6, 1.433333)}]

Si nous souhaitons trier les objets (clients) suivant leur nom, **puis** leur prenom, nous renvoyons un tuple dans cet ordre.

In [28]:
sorted(
    table_test,
    key=lambda o: (o['nom'], o['prenom']) # les parenthèses sont en fait inutiles
)

[{'n_client': 34,
  'nom': 'Boncoeur',
  'prenom': 'Kari',
  'ville': 'Nantes',
  'position': (47.216667, -1.55)},
 {'n_client': 3435,
  'nom': 'Gabriaux',
  'prenom': 'Adèle',
  'ville': 'Moulin',
  'position': (46.566667, 3.333333)},
 {'n_client': 2454,
  'nom': 'Gabriaux',
  'prenom': 'Julie',
  'ville': 'Bordeaux',
  'position': (44.833333, -0.566667)},
 {'n_client': 895,
  'nom': 'Gaulin',
  'prenom': 'Dorene',
  'ville': 'Lyon',
  'position': (45.75, 4.85)},
 {'n_client': 2324,
  'nom': 'Jobin',
  'prenom': 'Aubrey',
  'ville': 'Bourges',
  'position': (47.083333, 2.4)},
 {'n_client': 1212,
  'nom': 'Lacasse',
  'prenom': 'Aubrey',
  'ville': 'Annecy',
  'position': (45.9, 6.116667)},
 {'n_client': 2221,
  'nom': 'Larivière',
  'prenom': 'Alice',
  'ville': 'Tours',
  'position': (47.383333, 0.683333)},
 {'n_client': 5565,
  'nom': 'Neufville',
  'prenom': 'Ila',
  'ville': 'Toulouse',
  'position': (43.6, 1.433333)},
 {'n_client': 1114,
  'nom': 'Paiement',
  'prenom': 'Inès',
  'ville': 'Bordeaux',
  'position': (44.833333, -0.566667)},
 {'n_client': 1221,
  'nom': 'Parizeau',
  'prenom': 'Olympia',
  'ville': 'Metz',
  'position': (49.133333, 6.166667)},
 {'n_client': 1343,
  'nom': 'Primeau',
  'prenom': 'Angelette',
  'ville': 'Tours',
  'position': (47.383333, 0.683333)}]

Voyez-vous la différence si nous trions seulement sur le nom? (observez bien).

### À faire vous-même

1. Trier la table selon la première lettre du prénom puis selon la longitude (Est vers Ouest).

   *Rappel*: position=(lat,long)

In [29]:
sorted( table_test, key=lambda o: (o['prenom'][0], o['position'][1]) )

[{'n_client': 1343,
  'nom': 'Primeau',
  'prenom': 'Angelette',
  'ville': 'Tours',
  'position': (47.383333, 0.683333)},
 {'n_client': 2221,
  'nom': 'Larivière',
  'prenom': 'Alice',
  'ville': 'Tours',
  'position': (47.383333, 0.683333)},
 {'n_client': 2324,
  'nom': 'Jobin',
  'prenom': 'Aubrey',
  'ville': 'Bourges',
  'position': (47.083333, 2.4)},
 {'n_client': 3435,
  'nom': 'Gabriaux',
  'prenom': 'Adèle',
  'ville': 'Moulin',
  'position': (46.566667, 3.333333)},
 {'n_client': 1212,
  'nom': 'Lacasse',
  'prenom': 'Aubrey',
  'ville': 'Annecy',
  'position': (45.9, 6.116667)},
 {'n_client': 895,
  'nom': 'Gaulin',
  'prenom': 'Dorene',
  'ville': 'Lyon',
  'position': (45.75, 4.85)},
 {'n_client': 1114,
  'nom': 'Paiement',
  'prenom': 'Inès',
  'ville': 'Bordeaux',
  'position': (44.833333, -0.566667)},
 {'n_client': 5565,
  'nom': 'Neufville',
  'prenom': 'Ila',
  'ville': 'Toulouse',
  'position': (43.6, 1.433333)},
 {'n_client': 2454,
  'nom': 'Gabriaux',
  'prenom': 'Julie',
  'ville': 'Bordeaux',
  'position': (44.833333, -0.566667)},
 {'n_client': 34,
  'nom': 'Boncoeur',
  'prenom': 'Kari',
  'ville': 'Nantes',
  'position': (47.216667, -1.55)},
 {'n_client': 1221,
  'nom': 'Parizeau',
  'prenom': 'Olympia',
  'ville': 'Metz',
  'position': (49.133333, 6.166667)}]

2. Sachant que `sorted` prend un troisième argument optionnel nommé `reverse` et qui vaut `False` par défaut, trier la table selon le numéro de client dans l'ordre descendant (plus grand en premier).

In [30]:
sorted( table_test, key=lambda o: o['n_client'], reverse=True )

[{'n_client': 5565,
  'nom': 'Neufville',
  'prenom': 'Ila',
  'ville': 'Toulouse',
  'position': (43.6, 1.433333)},
 {'n_client': 3435,
  'nom': 'Gabriaux',
  'prenom': 'Adèle',
  'ville': 'Moulin',
  'position': (46.566667, 3.333333)},
 {'n_client': 2454,
  'nom': 'Gabriaux',
  'prenom': 'Julie',
  'ville': 'Bordeaux',
  'position': (44.833333, -0.566667)},
 {'n_client': 2324,
  'nom': 'Jobin',
  'prenom': 'Aubrey',
  'ville': 'Bourges',
  'position': (47.083333, 2.4)},
 {'n_client': 2221,
  'nom': 'Larivière',
  'prenom': 'Alice',
  'ville': 'Tours',
  'position': (47.383333, 0.683333)},
 {'n_client': 1343,
  'nom': 'Primeau',
  'prenom': 'Angelette',
  'ville': 'Tours',
  'position': (47.383333, 0.683333)},
 {'n_client': 1221,
  'nom': 'Parizeau',
  'prenom': 'Olympia',
  'ville': 'Metz',
  'position': (49.133333, 6.166667)},
 {'n_client': 1212,
  'nom': 'Lacasse',
  'prenom': 'Aubrey',
  'ville': 'Annecy',
  'position': (45.9, 6.116667)},
 {'n_client': 1114,
  'nom': 'Paiement',
  'prenom': 'Inès',
  'ville': 'Bordeaux',
  'position': (44.833333, -0.566667)},
 {'n_client': 895,
  'nom': 'Gaulin',
  'prenom': 'Dorene',
  'ville': 'Lyon',
  'position': (45.75, 4.85)},
 {'n_client': 34,
  'nom': 'Boncoeur',
  'prenom': 'Kari',
  'ville': 'Nantes',
  'position': (47.216667, -1.55)}]